<div class="header">
    <div class="topbar">
        <button [matMenuTriggerFor]="menu" id="borderbutton">
            <button mat-fab >LC</button>
            <button mat-button="menu"> Hi lara!</button>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>
    </div>
</div>
<div class="top-background">
    <img src="../../assets/background.jpeg" alt="Background Photo">
</div>
<div class="profile">
    <img src="../../assets/lc.jpg" alt= "Profile Photo">
    <p>Lara Croft</p>
</div>