<div class="header">
    <div class="topbar">
        <button mat-fab [matMenuTriggerFor]="menu">LC</button>
        <button mat-button [matMenuTriggerFor]="menu"> Hi lara!</button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>
    </div>
</div>
<div class="top-background">
    <img src="https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
</div>
<div class="profile">
    <img src="https://image.shutterstock.com/image-vector/male-profile-icon-260nw-197167847.jpg">
    <p>Lara Croft</p>
</div>